%table.drug-stores.table
    %h4$4 Generics
    %thead
        %tr
            %th Store
            %th Drug
            %th Dose
            %th Price
            %th Quantity
        -@drug_map.each_key do |key|
            %tr
                %td
                    %a{:href => "#{key[:url]}",  "target" => "_blank"}=key[:name]
                -@drug_map[key].each_with_index do |drug, index|
                    -if index == 0
                        %td=drug[:name]
                        %td=drug[:dose]
                        %td=drug[:price]
                        %td=drug[:quantity]
                    -else
                        %tr
                            %td
                            %td=drug[:name]
                            %td=drug[:dose]
                            %td=drug[:price]
                            %td=drug[:quantity]

