.container.theme-showcase{:role => "main"}
  / Main jumbotron for a primary marketing message or call to action
  #jumbo.jumbotron
    %h2#jumbo-title NC Diabetes Reference for Insurance Formularies
    #page-info.container
      %p
        While we strive to ensure the information on this page is accurate, we recognize mistakes may happen. Please feel free to
        contact the site administrators about any inaccuracies or omissions. Any pharmacies and insurance companies are
        welcome to contribute to this resource.
        %br/
        %br/
      %h3 About Us:
      This website is a school project conducted by
      %a{:href => "www.ecu.edu/csci"} East Carolina University™
      Students with the goal in mind is the help providersgive patients their desired drug prescription they
      entail in an effecient and manageable fashion.
      %br/
      %h3{:style => "font-weight: bold; padding-top: 10px"} Members:
      Anthony Jones
      %br/
      %br/
      Khalipha Thomas
      %br/
      %br/
      Mason Meyer
      %br/
      %br/
      Scott Johnson
      %br/
      %br/
      %h4{:style => "font-weight: bold; padding-top: 10px"} Information Sources:
      #cContainer
        %a{:href => "https://q1medicare.com/"} Q1Medicare.com Your Source for Medicare Part D Plan Information
      #cContainer
        %a{:href => "http://www.gahec.org/"} Greensboro AHEC
