.container
  .form-signin
    %h2.form-signin-heading Please sign in
    %label.sr-only{:for => "inputEmail"} Email address
    =form_for(:session, url: signin_path) do |f|
      =f.email_field :email, class: 'form-control', :autofocus => "", :placeholder => "Email address", :required => "", :type => "email"
      =f.password_field :password, class: 'form-control', :placeholder => "Password", :required => "", :type => "password"
      =f.submit "Sign in", class: "btn btn-primary btn-lg btn-block"
      -if flash[:danger]
        .alert.alert-danger=flash[:danger]
