.container
  .row-fluid
    .col-md-7
      .col-md-5
        %h4 Insurance company
        / insurance Company DDL
        .dropdown
          %button#company-button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
            Select First
            %span.caret
          %ul#insurance-dropdown.dropdown-menu
            -@companies.each do |company|
              %li
                -url = company.name =~ /Medicare/ ? "#" : "/companies/#{company.id}" 
                %a{:href=> url}=company.name