.container
  .row-fluid
    .col-md-7
      .col-md-5
        %h4 Insurance company
        / insurance Company DDL
        .dropdown
          %button#company-button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
            =@company.name
            %span.caret
          %ul#insurance-dropdown.dropdown-menu
            -@companies.each do |company|
              %li
                -url = company.name =~ /Medicare/ ? "#" : "/companies/#{company.id}" 
                %a{:href=> url}=company.name
        #company-url
          %a{:href=>"#{@company.url}", target: "_blank"}Click for the #{@company.name} formulary
        #drug-key
          %h5 Formulary Key:
          %ul.list-group
            %li.discount.list-group-item.list-group-item-success.key Discount Generic
            %li.formulary.list-group-item.list-group-item-info.key Insurance Formulary
            %li.both.list-group-item.list-group-item-info.key Insurance or generic
      .col-md-7
        %h4 Drug Classes
        #drug-list
        -@drug_classes.each_with_index do |item, index|
          .drug-panel.panel-group
            .panel.panel-default
              .panel-heading
                %h4.panel-title
                  %a{:href=>"#collapse#{index}", "data-toggle" => "collapse"}=item
              %div.panel-collapse.collapse{id: "collapse#{index}"}
                %ul.list-group
                  -@formulary.each_with_index do |drug, index_b|
                    -name = drug.name.gsub(/\W+/,'')
                    -if drug.drug_class == item
                      %li.list-group-item.drug-item{id: "#{name}#{index_b}", class: common_drug(drug)}=drug.name + (drug.tier.blank? ? ' (' + drug.tier + ')' : '')
                  -dollar_drugs_in_class(item).each do |id, drug|
                    %li.list-group-item.discount.drug-item{id: id}
                      %a{:href=>"#drug-table", "data-turbolinks" => "false"}=drug
    .col-md-5
      #drug-table.col-md-10