#MedicarePartD.modal{:role => "dialog"}
  .modal-dialog
    / Modal content
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Medicare D Plans
        %p Select a plan, and information will open in a new tab
      .modal-body
        %ul#medicareD-URL.list-group
          -MedicarePlan.where(:is_advantage => nil).each do |plan|
            %li.list-group-item
              - if plan.url.blank?
                =plan.name
              -else
                %a{:href=> plan.url, :target => "_blank"}=plan.name
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close