#MedicareAdvantage.modal{:role => "dialog"}
  .modal-dialog
    / Modal content
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Medicare Advantage Plans
        %p Select a plan, and information will open in a new tab
      .modal-body
        #counties-top.panel-group
          #counties.panel.list-group
            -counties = MedicarePlan.select(:county).where(:is_advantage => true).group(:county).order(county: :asc).map{|record| record.county}
            -counties.each do |county|
              -target_county = county.gsub(/\s+/, "_")
              %a{:href => '#', 'class' => 'list-group-item', 'data-toggle' => 'collapse', 'data-target' => "##{target_county}", 'data-parent' => '#counties-top'}=county
              .sublinks.collapse{:id => target_county}
                -MedicarePlan.where(:is_advantage => true, :county => county).each do |plan|
                  -if plan.url.blank?
                    %a#no_coverage.list-group-item.small{:href => "#"} &nbsp;&nbsp;&nbsp; #{plan.name} NO COVERAGE
                  -else
                    %a.list-group-item.small{:href => plan.url, :target => "_blank"} &nbsp;&nbsp;&nbsp; #{plan.name}
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close