.container.theme-showcase{:role=>"main"}
  #jumbo.jumbotron
    .container
      %h3#jumbo-title NC Diabetes Reference for Insurance Formularies
      #page-info
        While we strive to ensure the information on this page is accurate, we recognize mistakes may happen. Please feel free to
        contact the site administrators about any inaccuracies or omissions. Any pharmacies and insurance companies are
        welcome to contribute to this resource.
        %br/
        %br/
        %h4 How to use this tool:
        Select an insurance company from the dropdown menu. Drugs in the formulary will appear in a list, grouped by drug class.
        Click on a drug class to expand. Drugs colored yellow or green are available as a discount generic. Click or hover
        over the discount drug to see a list of pharmacies that might offer the drug at a reduced price.
      %a{"data-toggle" => "collapse", :href => "#collapse1"}
        #slider-icon
          %span.glyphicon.glyphicon-chevron-up{"aria-hidden" => "true", :onclick => "slideUp()"}
-if !@company
  =render :partial => 'insurance_company_selector'
-else
  =render :partial => 'insurance_company_detail'
  %hr/
  .container
    %div
      %button#refresh.btn.btn-default{:type => "button"} Reset
/ Medicare D Modal
=render :partial => 'medicare_d'
/ Medicare Advantage Modal
=render :partial => 'medicare_advantage'