.container
  .row
    #admin-name-div.col-md-4
      %h4 Choose a Company to Edit
      #admin-dropdown.dropdown
        %button#admin-button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
          Select Company
          %span.caret
        %ul#admin-dropdown.dropdown-menu
          -companies = ( request.path_info == '/insurance' ? @companies : @pharmacies ) 
          -companies.each do |company|
            %li
              %a{:href=>"javascript:;"}=company.name
          %li.divider
          %li
            %a{:href => "#"} Add Company
    .col-md-8
      %form
        #url-form.form-group
          %label{:for => "companyURL"} Company URL
          %input#companyURL.form-control{:placeholder => "Formulary URL", :type => "url"}/
  .row
    .col-md-12
      #edit.message
      #tablecontent
  #admin-add-row.row
    .col-md-2
      %a{:href => "#"} add new
%hr/
.container
  %div
    =link_to "Log out", logout_path, method: :delete