.container.theme-showcase{:role => "main"}
  .container
    .col-md-8
      =form_for(:session, url: contact_path) do |f| {:role => "form"}
        %br{:style => "clear:both"}
        %h3{:style => "margin-bottom: 25px; text-align: center;"} Contact Form
        =f.text_field :name, class: 'form-group form-control', :placeholder => "Name", :required => ""
        =f.email_field :email, class: 'form-group form-control', :placeholder => "Email address", :required => ""
        =f.text_field :subject, class: 'form-group form-control', :placeholder => "Subject", :required => ""
        =f.text_area :message, class: 'form-group form-control', :placeholder => "Message", :required => "", :rows => "10"
        =f.submit "Submit form", class: "btn btn-primary pull-right"
