table.testgrid {
      border-collapse: collapse;
      border: 1px solid #CCB;
      width: 800px;
    }
    
    table.testgrid td,
    table.testgrid th {
      padding: 5px;
      border: 1px solid #E0E0E0;
      white-space: nowrap;
    }
    
    table.testgrid th {
      background: #E5E5E5;
      text-align: left;
    }
    
    .invalid {
      background: red;
      color: #FDFDFD;
    }
    #url-form {
      margin-top:15px;
    }
    .testgrid input{
      min-height: 20px;
    }

    #pharmacy-add-row {
      display:none;
    }
    
     #admin-add-row {
      display:none;
    }
