    .drug-panel {
        margin-bottom: 0px!important;
    }
    /*colors the "links" to companies with no drug plans red*/
    /*color insurance companies with no drig coverage red*/
    
    #no_coverage {
        color: red;
    }
    
    .drug-item:hover {
        background-color: cadetblue!important;
    }
    /*constrain the size and color of the drug source key*/
    
    .key {
        padding: 2px;
        text-align: center;
        font-size: 90%;
        color: black;
        width: 130px;
    }
    
    /*color for discount drug key*/
    
    .discount {
        background-color: yellow;
    }
    /*color for insurance formulary key*/
    
    .formulary {
        background-color: burlywood;
    }
    /*color if drug is both discount and formulary*/
    
    .both {
        background-color: lightgreen;
    }
    /*text that needs to be centered*/
    
    #jumbo-title,
    #slider-icon {
        text-align: center;
    }
    /*text that needs to be justified*/
    
    #page-info {
        text-align: justify;
    }
    