/*Refrain from using absolute numbers because they are typicall different 
from browser to browse.
*/

body {
  padding-top: 70px;
  padding-bottom: 30px;
  background-color: #a39ea9;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase>p>.btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

a {
  /*color: #0b2252;*/
  font-weight: bold;
}

.panel {
  padding:0px;
}

.list-group{
  margin-bottom: 0px;
}

#page-info {
  font-size: 95%;
}

#jumbo {
  /*background-color: #a39ea9;*/
  padding: 5px;
}

#cContainer {
  margin-bottom: 1%;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
